@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-end-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-end-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
}

body {
  background: linear-gradient(
    180deg,
    hsl(235, 16%, 14%) 0%,
    hsl(230, 17%, 10%) 100%
  )
  hsl(235, 16%, 14%) 0%
;
}

.timeInput {
  font-size: 10rem;
  max-width: 16rem;
  text-shadow: 0 2px 2px hsl(235, 20%, 20%);
  padding: 0.3125rem 0.625rem;
  border-radius: 0.5rem;
  box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.47);

  @media (min-width: 1024px) {
    font-size: 15rem;
    max-width: 22rem;
  }
}

.timeInput:focus {
  outline: none;
  box-shadow: 0 0 7px rgb(253 224 71);
}
